$blue: #25D5FD;
$green1: #7dac42;
$green2: #7EAB49;

$primaryColor: #777;
$primaryColorDarker: darken($primaryColor, 10%);

$largeDesktopMinResolution: '1200px';
$desktopMinResolution: '960px';
$mobileMaxResolution: '959px';
$smallMobileMaxResolution: '320px';

@import "font-awesome.scss";
@import "font-awesome-animation.min.scss";
@import "normalize.scss";
@import "skeleton.scss";
@import "react-datepicker.scss";

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #444;
  background-color: #eee;
  font-size: 18px;
  line-height: 28px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}
a {
  font-weight: bold;
}
.logo {
  margin-top: 25px;
  margin-bottom: 10px;
  overflow: auto;
}
@media (min-width: $desktopMinResolution) {
  .logo {
    margin-bottom: 0;
  }
}
.logo a {
  border: 0;
  color: #5c5c5c;
}
.logo .text {
  display: inline-block;
  text-align: left;
  float: left;
}
.logo .text h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 52px;
  position: relative;
  text-align: left;
}
.logo .text p {
  margin: 0;
  padding: 0 0 0 2px;
}
.logo .text p a {
  text-transform: uppercase;
  font-weight: 400;
}
.logo img {
  margin-right: 5px;
  height: 75px;
  width: 75px;
  border: 0;
  float: left;
}
@media (max-width: $smallMobileMaxResolution) {
  .logo img {
    height: 50px;
    width: 50px;
  }  
}
.header .container {
  padding-top: 0px;
}
.container {
  padding-top: 10px;
}
@media (min-width: $desktopMinResolution) {
  body {
    background-color: #e5e5e5;
  }
  .header .container {
    padding: 0 30px;
  }
  .container {
    background-color: #eee;
    padding: 10px 30px 30px 30px;
  }

}
form {
  margin: 0;
}
hr {
  height: 0;
  border: 0;
  margin: 0 0 20px 0;
  border-top: 4px solid #e5e5e5;
}
h1.title {
  margin: 0 0 0 0;
  white-space: nowrap;
  font-weight: 300;
  font-size: 60px;
  line-height: 90px;
  color: #444;
}
h1.title img {
  position: relative;
  top: 19px;
  margin-right: 5px;
  vertical-align: middle;
}
.title-slogan {
  position: relative;
  top: -20px;
  margin-left: 120px;
  margin-bottom: 0px;
  background: #444;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
}
h1 {
  text-align: center;
  font-weight: 300;
}

h1 span {
  padding: 0 10px 10px 10px;
  font-size: 42px;
  line-height: 52px;
  display: inline-block;
  color: #666;
  text-align: center;
}
@media (min-width: $desktopMinResolution) {
  h1 span {
    padding: 10px 10px 00px 10px;
  }
}
h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
p {
  font-size: 18px;
  line-height: 28px;
}

i.muted,
p.muted,
.muted p {
  color: #888;
}
a {
  text-decoration: none;
}
a.nostyle {
  color: #444;
  text-decoration: none;
}
footer a,
footer p {
  color: #888;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}
#search {
  margin-top: 0px;
  margin-bottom: 0;
  position: relative;
}
#search .search-input {
  position: relative;
  border: none;
  background-color: #eee;
  background-color: #f9f9f9;
  border-radius: 20px;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
}
@media (min-width: $desktopMinResolution) {
  #search {
    right: -20px;
  }
  #search .search-input {
    width: 70%;
    max-width: 330px;
  }
}

#search .search-input:focus {
  background-color: #fff;
}
#search .fa-microphone {
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: #ddd;
  color: #888;
  line-height: 50px;
  padding: 0 12px;
  border-radius: 100px;
}
@media (min-width: $desktopMinResolution) {
  #search .fa-microphone {
    position: absolute;
    top: -5px;
  }

}
#search .fa-microphone:hover,
#search .fa-microphone:focus {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}
#search.recording .fa-microphone:hover,
#search.recording .fa-microphone:focus,
#search.recording .fa-microphone {
  background-color: red;
  color: #fff;
  cursor: none;
}
#search.recording .search-input {
  background: transparent;
  opacity: 0.5;
}
.menubar {
  text-align: right;
  margin: 0;
  background-color: #e5e5e5;
  color: #444;
  padding: 5px 10px;
  background: #444;
  color: #fff;
}
.menubar a {
  color: #ddd;
}
@media (min-width: $desktopMinResolution) {
  .hidden-desktop {
    display: none;
  }
  .menubar {
    padding: 5px 20px;
    background: transparent;
    color: #444
  }
  .menubar a {
    color: #444
  }
  a.unstyled:hover {
    border-bottom: 1px solid #000;
  }
}
@media (max-width: $mobileMaxResolution) {
  .hidden-mobile {
    display: none;
  }
  .menubar a.button,  
  .menubar a.button:hover {
    color: #eee;
  }
}
.menubar .container {
  background: transparent;
  padding: 0;
}
.menubar .button {
  margin-bottom: 0;
}
a.unstyled,
a.unstyled:hover {
  border: 0;
}
.menubar .beta {
  background-color: #7EAB49;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 6px 3px 6px;
  margin: 0 4px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.search {
  position: relative;
  padding-top: 10px;

}
@media (min-width: $desktopMinResolution) {
  .search {
    padding-top: 40px;
    margin-right: 30px;
    text-align: right;
  }
}
.question-card-preview {
  background: #f9f9f9;
  margin-bottom: 15px;
  box-shadow: 3px 3px 0px rgba(0,0,0,.05);
  cursor: pointer;
}
.question-card-preview .question-card-contents {
  padding: 10px 15px 10px 15px;
}
@media (min-width: $desktopMinResolution) {
  .question-card-preview {
    margin-bottom: 25px;
  }
  .question-card-preview:hover {
    background: #fff;
    box-shadow: 4px 4px 0px rgba(0,0,0,.1);
    transform: scale(1.025);
    transition-duration: 0.1s;
  }

}
.question-card-preview h3,
.question-card-preview h3 a {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  color: #555;
}
@media (min-width: $desktopMinResolution) {
  .question-card-preview:hover h3,
  .question-card-preview:hover h3 a {
    color: #444;
  }
}

.question-card-preview-sidebar {
  margin-bottom: 20px;
  cursor: pointer;
  overflow: visible;
  position: relative;
  padding: 0;
  clear: both;
  overflow: visible;
}
.question-card-preview-sidebar.has-image {
  min-height: 100px;
  padding: 0;
  margin-bottom: 30px;
}
.question-card-preview-sidebar .date-label {
  font-size: 18px;
  color: #888;
  padding: 0;
  margin: 0;
}
.question-card-preview-sidebar .question-card-contents {
  display: block;
  margin-bottom: 20px;
}
.question-card-preview-sidebar.has-image .question-card-contents {
  padding-left: 115px;
}
.question-card-preview-sidebar h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 5px;
}
.question-card-preview-sidebar h3 a {
  font-weight: 500;
}
.question-card-preview-sidebar .question-card-image-container .question-card-image {
  height: 100px;
  width: 100px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.question-card-preview-sidebar .question-card-image-container {
  position: absolute;
  background-color: #e5e5e5;
  display: inline-block;
  height: auto;
  top: 5px;
  left: 0px;
  border: 0;
}
.question-card-preview-small {
  cursor: pointer;
  overflow: visible;
  position: relative;
  padding: 0;
  clear: both;
  overflow: visible;
  background: #f9f9f9;
  margin-bottom: 15px;
  box-shadow: 3px 3px 0px rgba(0,0,0,.05);
  cursor: pointer;
  height: 100px;
}
@media (min-width: $desktopMinResolution) {
  .question-card-preview-small {
    margin-bottom: 25px;
  }
  .question-card-preview-small:hover {
    background: #fff;
    box-shadow: 4px 4px 0px rgba(0,0,0,.1);
    transform: scale(1.025);
    transition-duration: 0.1s;
  }
}
.question-card-preview-small.has-image {
  overflow: hidden;
  padding: 0;
}
.question-card-preview-small .date-label {
  font-size: 14px;
  color: #888;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.question-card-preview-small .question-card-contents {
  display: block;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.question-card-preview-small.has-image .question-card-contents {
  padding: 5px;
  padding-left: 110px;
}
.question-card-preview-small h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 5px;
}
.question-card-preview-small h3 a {
  font-weight: 500;
}

.question-card-preview-small.has-image h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 5px;
}
.question-card-preview-small.has-image h3 a {
  font-weight: 500;
}

@media (min-width: $mobileMaxResolution) and (max-width: $largeDesktopMinResolution) {
  .question-card-preview-small h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .question-card-preview-small.has-image h3 {
    font-size: 15px;
    line-height: 18px;
  }
}

.question-card-preview-small .question-card-image-container .question-card-image {
  height: 100px;
  width: 100px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.question-card-preview-small .question-card-image-container {
  position: absolute;
  background-color: #e5e5e5;
  display: inline-block;
  height: auto;
  top: 0px;
  left: 0px;
  border: 0;
}

.question-card-preview .question-card-image-container .question-card-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.question-card-preview .question-card-image-container {
  background-color: #e5e5e5;
  display: block;
  height: 200px;
  width: 100%;
  border: 0;
}
@media (min-width: $desktopMinResolution) {
  .question-card-preview .question-card-image-container .question-card-image,
  .question-card-preview .question-card-image-container {
    height: 250px;
  }
}

.question-card .question-image {
  background-color: #e5e5e5;
  margin-top: 5px;
  height: 300px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.image-thumbnail {
  display: inline-block;
  background-color: #e5e5e5;
  height: 120px;
  width: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; 
}

.image-thumbnail:hover {
  cursor: pointer;
}

.question-image-text {
  text-align: right;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

.question-image-text .image-caption,
.question-image-text .image-caption p,
.question-image-text .image-caption a {
  color: #888;
}
.question-image-text .image-credit,
.question-image-text .image-credit p,
.question-image-text .image-credit a {
  color: #888;
}
.question-image-text a {
  border-bottom: 1px dotted #aaa !important;
}
.question-image-text .image-caption {
  font-weight: bold;
}
.question-video {
  margin-bottom: 40px;
  background-color: #e5e5e5;
  height: 400px;
}
.question-video iframe {
  border: 0;
}
@media (min-width: $desktopMinResolution) {
  .question-card .question-image {
    height: 400px;
  }
  /*
  .question-cards {
    max-height: 2000px;
    overflow: hidden;
  }
  .question-cards-fade {
    position: absolute; 
    bottom: 30px;
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0;
    padding: 50px 0; 	
    background-image: linear-gradient(to bottom, rgba(238,238,238,0), #eeeeee);
    z-index: 10;
  }
  */
}
@media (min-width: $desktopMinResolution) {
  .question-card-previews .columns.four {
    margin: 0 1.6%;
    width: 31.2% !important;
  }
  .question-card-previews .columns.four.first {
    margin: 0 1.6% 0 0;
  }
  .question-card-previews .columns.four.last {
    margin: 0 0 0 1.6%;
  }
}
.buttons {
  text-align: right;
  margin-bottom: 0px;
}
.buttons .button,
.buttons .button-primary-button,
.buttons button {
  margin-right: 10px;
}
.buttons .button:last-child,
.buttons .button-primary-button:last-child,
.buttons button:last-child {
  margin-right: 0
}
.box {
  background: #fff;
  padding: 15px 10px 0 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.box h5 {
  margin-bottom: 15px;
}
.box .box-show-on-hover {
  max-height: 0;
  transition-duration: 0.5s;
  overflow: hidden;
}
.box:hover .box-show-on-hover,
.box:focus .box-show-on-hover {
  max-height: 500px;
}
.vertical-form-label {
  text-align: right;
  padding-top: 6px;
}
.question-card-preview .date-label {
  background-color: $primaryColor;
  color: #fff;
  padding: 2px 16px 2px 20px;
  margin: 0;
  margin-left: -25px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  height: 30px;
  border-radius: 0 2px 2px 0;
}
.question-card-preview .date-label:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $primaryColorDarker transparent;
  top: -15px;
  left: 0px;
  border-width: 0 0 15px 10px;
  z-index: -1;
}
.question-card {
  background: #fff;
  margin-bottom: 35px;
  box-shadow: 5px 5px 0px rgba(0,0,0,.05);
}
.question-card .question-card-contents {
  padding: 10px 15px;
}
.question-card .question-card-question-text p {
  font-style: oblique;
  font-size: 22px;
  line-height: 28px;
}
.question-card .question-card-footer {
  text-align: right;
  margin: 0;
  padding: 0;
}

.question-card .question-card-footer a {
  border: 0;
  font-weight: normal;
  color: #888;
}

.question-card h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin: 5px;
}
.question-card .date-label {
  background-color: $primaryColor;
  color: #fff;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding: 2px 16px 2px 20px;
  display: inline-block;
  height: 30px;
  position: relative;
  margin-left: -25px;
  z-index: 1;
  border-radius: 0 2px 2px 0;
}
.question-card .date-label:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $primaryColorDarker transparent;
  top: -15px;
  left: 0px;
  border-width: 0 0 15px 10px;
  z-index: -1;
}
/*
.question-card .date-label:after {
content: "";
position: absolute;
top: 0px;
right: -15px;
display: inline-block;
background: transparent;
border-top: 17px solid #25D5FD;
border-bottom: 17px solid #25D5FD;
border-right: 15px solid transparent;
width: 5px;
height: 0px;
}
*/

.question,
.question-card-preview {
  border-radius: 0 !important;
}

.button.button-facebook,
.button.button-facebook:hover,
.button.button-facebook:active,
.button.button-facebook:visited {
  border-color: #3B5998;
  background-color: #3B5998;
  color: #fff;
}
.button.button-twitter,
.button.button-twitter:hover,
.button.button-twitter:active,
.button.button-twitter:visited {
  border-color: #00aced;
  background-color: #00aced;
  color: #fff;
}
.button.button-google,
.button.button-google:hover,
.button.button-google:active,
.button.button-google:visited {
  border-color: #d34836;
  background-color: #d34836;
  color: #fff;
}

.button.button-twitter i,
.button.button-google i,
.button.button-facebook i {
  font-size: 20px;
  line-height: 24px;
}

.question-card {
  margin-top: 15px;
  animation: fadein 0.5s;
}

.question-card-preview {
  animation: fadein 0.2s;
}
.question-sidebar {
  margin-top: 15px;
}
.question-sidebar .question-sidebar-item {
  animation: fadein 0.1s 0.5s ease-out forwards;
  opacity: 0;
  margin-bottom: 20px;
}

.question-sidebar .question-sidebar-item:nth-child(1) {
  animation: fadein 0.1s 0s ease-out forwards;
}

.question-sidebar .question-sidebar-item:nth-child(2) {
  animation: fadein 0.1s 0.1s ease-out forwards;
}

.question-sidebar .question-sidebar-item:nth-child(3) {
  animation: fadein 0.1s 0.2s ease-out forwards;
}

.question-sidebar .question-sidebar-item:nth-child(4) {
  animation: fadein 0.1s 0.3s ease-out forwards;
}

.question-sidebar .question-sidebar-item:nth-child(5) {
  animation: fadein 0.1s 0.4s ease-out forwards;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein-grow {
    from { opacity: 0; height: 0;}
    to   { opacity: 1; max-height: 150px; }
}

@keyframes grow {
    from { height: 0;}
    to   { max-height: 150px; }
}

.alert {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ddd;
  margin-bottom: 25px;
}
.alert,
.alert p,
.alert a {
  color: #555 !important;
}
.alert:hover,
.alert:hover p,
.alert:hover a {

}
.alert .link {
  margin-left: 5px;
  padding-bottom: 2px;
}
@media (min-width: $mobileMaxResolution) and (max-width: $largeDesktopMinResolution) {
  .alert {
    padding: 10px 5px;
  }
  
  .alert,
  .alert p,
  .alert a {
    font-size: 16px;
    line-height: 18px;
  }
}

.navbar {
  margin: 5px 0 5px 0;
  height: 25px;
  overflow: hidden;
}
.navbar,
.navbar p,
.navbar a {
  color: #555 !important;
}
.navbar .seperator {
  opacity: 0.25;
  margin: 0 5px;
}
@media (min-width: $desktopMinResolution) {
  .navbar {
    display: block;
  }
}

.advertising-label {
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #999;
}

#question-card-advert-1 {
  margin: 0 8px;
  overflow-x: hidden;
}

#question-sidebar-advert-1 {
  min-height: 305px;
  margin-bottom: 10px;
}

blockquote {
  color: #666;
  border-left: 2px solid #ddd;
  margin-left: 10px;
  padding-left: 20px;
  font-style: italic;
}
ol.breadcrumbs {
  margin: 0;
  padding: 0;
  left: 0;
}
ol.breadcrumbs li {
  margin: 0;
  padding: 0;
  display: inline;
  left: 0;
}
ol.breadcrumbs li a {
  border: 0;
}
ol.breadcrumbs li:last-child a {
  font-weight: normal;
}
ol.breadcrumbs .separator {
  color: #aaa;
  margin: 0 5px;
}