$lightBlue: #25D5FD;

$primaryColor: #555;
$primaryColorDarker: darken($primaryColor, 20%);

@import "font-awesome.scss";
@import "font-awesome-animation.min.scss";
@import "normalize.scss";
@import "skeleton.scss";

body {
  margin: 0;
  font-family: sans-serif;
  color: #444;
  background-color: #eee;
  font-size: 18px;
  line-height: 28px;
}
.logo {
  text-align: center;
}
.logo img {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 99px;
  width: 280px;
  border: 0;
}

.header .container { 
  padding-top: 0px;
}
.container {
  padding-top: 10px;
}
@media (min-width: 660px) {
  body {
    background-color: #e5e5e5;
  }
  .header .container {
    padding: 0 30px;
  }
  .container {
    background-color: #eee;
    padding: 20px 30px 30px 30px;
  }
  .logo {
    text-align: left;
  }
  .logo img {
    height: 124px;
    width: 350px;
  }
}
form {
  margin: 0;
}
hr {
  height: 0;
  border: 0;
  margin: 0 0 10px 0;
  border-top: 4px solid #ddd;
}
h1.title {
  margin: 0px 0 0 0;
  white-space: nowrap; 
  font-weight: 300;
  font-size: 60px;
  line-height: 90px;
  color: #444;
}
h1.title img {
  position: relative;
  top: 19px;
  margin-right: 5px;
  vertical-align: middle;
}
.title-slogan {
  position: relative;
  top: -20px;
  margin-left: 120px;
  margin-bottom: 0px;
  background: #444;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap; 
}
h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
p {
  font-size: 18px;
  line-height: 28px;
}
.muted p,
p.muted {
  color: #888;
}
a {
  text-decoration: none;
}
a.nostyle {
  color: #444;
  text-decoration: none;
}
footer a,
footer p {
  color: #888;
  text-decoration: none;
}
#search {
  margin-bottom: 0;
}
#search .search-input {
  position: relative;
  border: none;
  background-color: #eee;
  background-color: #f9f9f9;
  border-radius: 20px;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}
#search .search-input {

}
@media (min-width: 660px) {
  #search .search-input {
    width: 90%;
    max-width: 330px;
  }
}
#search .search-input:focus {
  background-color: #fff;
}
#search .fa-microphone {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: #ddd;
  color: #888;
  line-height: 50px;
  padding: 0 12px;
  border-radius: 100px;
}
@media (min-width: 660px) {
  #search .fa-microphone {
    position: absolute;
    top: 35px;
  }
}
#search .fa-microphone:hover,
#search .fa-microphone:focus {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}
#search.recording .fa-microphone:hover,
#search.recording .fa-microphone:focus,
#search.recording .fa-microphone {
  background-color: red;
  color: #fff;
  cursor: none;
}
#search.recording .search-input {
  background: transparent;
  opacity: 0.5;
}
.menubar { 
  text-align: right;
  margin: 0;
  background-color: #e5e5e5;
  color: #444;
  padding: 5px 20px;
}
.menubar .container {
  background: transparent;
  padding: 0;
}
.menubar .button { 
  margin-bottom: 0;
}
.search {
  position: relative;
  padding-top: 10px;
  text-align: right;
}
@media (min-width: 660px) {
  .search {
    padding-top: 40px;
    margin-right: 30px;
  }
}
.question-card {
  background: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 0px rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 5px 30px 5px 30px;
}
@media (min-width: 660px) {
  .question-card:hover {
    background: #fff;
    box-shadow: 0 5px 0px rgba(0,0,0,.2);
    transform: scale(1.025);
    transition-duration: 0.1s;
  }
}
.question-card h3,
.question-card h3 a {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  color: #555;
}
@media (min-width: 660px) {
  .question-card:hover h3,
  .question-card:hover h3 a {
    color: #444;
  }
}
.question-card-image {
  background-color: #e5e5e5;
  height: 200px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .question-card-image {
    height: 250px;
  }
}
.question-image {
  background-color: #e5e5e5;
  height: 250px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.question-image-text {
  padding: 5px;
  background-color: #e5e5e5;
  background-color: #222;
  margin-bottom: 20px;
}
.question-image-text p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}
.question-video {
  margin-bottom: 40px;
  background-color: #e5e5e5;
  height: 400px;
}
.question-video iframe {
  border: 0;
}
@media (min-width: 660px) {
  .question-image {
    height: 300px;
  }
}
@media (min-width: 660px) {
  .question-cards .columns.four {
    margin: 0 1.1%;
    width: 31.667% !important;
  }
  .question-cards .columns.four.first {
    margin: 0 1.1% 0 0;
  }
  .question-cards .columns.four.last {
    margin: 0 0 0 1.1%;
  }
  
  .question-cards .three.columns {
    margin: 0 0.7%;
    width: 23.9% !important;
  }
  .question-cards .three.columns.first {
    margin: 0 0.7% 0 0;
  }
  .question-cards .three.columns.last {
    margin: 0 0 0 0.7%;
  }
  
}
.buttons {
  text-align: right;
  margin-bottom: 0px;
}
.buttons .button,
.buttons .button-primary-button,
.buttons button {
  margin-right: 10px;
}
.buttons .button:last-child,
.buttons .button-primary-button:last-child,
.buttons button:last-child {
  margin-right: 0
}
.box {
  background: #fff;
  padding: 15px 10px 0 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.box h5 {
  margin-bottom: 15px;
}
.box .box-show-on-hover {
  max-height: 0;
  transition-duration: 0.5s;
  overflow: hidden;
}
.box:hover .box-show-on-hover,
.box:focus .box-show-on-hover {
  max-height: 500px;
}
.vertical-form-label {
  text-align: right;
  padding-top: 6px;
}
.question-card .date-label {
  background-color: $primaryColor;
  color: #fff;
  padding: 2px 16px 2px 20px;
  margin: 0;
  margin-left: -25px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  height: 30px;
  border-radius: 0 2px 2px 0;
}
.question-card .date-label:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $primaryColorDarker transparent;
  top: -15px;
  left: 0px;
  border-width: 0 0 15px 10px;
  z-index: -1;
}
/*
.question-card .date-label:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -15px;
  display: inline-block;
  background: transparent;
  border-top: 17px solid #25D5FD;
  border-bottom: 17px solid #25D5FD;
  border-right: 15px solid transparent;
  width: 5px;
  height: 0px;
}
*/
.question {
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 25px;
  box-shadow: 0 5px 0px rgba(0,0,0,.2);
  border-radius: 5px 30px 5px 30px;
}
.question h2 {
  font-weight: 400;
}
.question .date-label {
  background-color: $primaryColor;
  color: #fff;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding: 2px 16px 2px 20px;
  display: inline-block;
  height: 30px;
  position: relative;
  margin-left: -25px;
  z-index: 1;
  border-radius: 0 2px 2px 0;
}
.question .date-label:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $primaryColorDarker transparent;
  top: -15px;
  left: 0px;
  border-width: 0 0 15px 10px;
  z-index: -1;
}
/*
.question .date-label:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -15px;
  display: inline-block;
  background: transparent;
  border-top: 17px solid #25D5FD;
  border-bottom: 17px solid #25D5FD;
  border-right: 15px solid transparent;
  width: 5px;
  height: 0px;
}
*/