body {
  margin: 0;
  font-family: sans-serif;
  color: #444;
  background-color: #ddd;
}
.header .container {
  padding: 0 20px;
}
.container {
  background-color: #eee;
  padding: 0 20px 20px 20px;
}
hr {
  height: 0;
  border: 0;
  margin: 0 0 10px 0;
  border-top: 4px solid #ddd;
}
h1.title {
  margin: 0px 0 0 0;
  white-space: nowrap; 
  font-weight: 300;
  font-size: 60px;
  line-height: 90px;
  color: #444;
}
h1.title img {
  position: relative;
  top: 19px;
  height: 110px;
  width: 110px;
  margin-right: 5px;
  vertical-align: middle;
}
.title-slogan {
  position: relative;
  top: -20px;
  margin-left: 120px;
  margin-bottom: 0px;
  background: #444;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap; 
}
p {
  font-size: 18px;
  line-height: 28px;
}
p.muted {
  color: #888;
}
a {
  text-decoration: none;
}
a.nostyle {
  color: #444;
  text-decoration: none;
}
footer a,
footer p {
  color: #888;
  text-decoration: none;
}
#search {
  margin-bottom: 0;
}

#search .search-input-with-mic,
#search .search-input {
  position: relative;
  border: none;
  background-color: #eee;
  border-radius: 0px;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
}
#search .search-input {
  text-align: right;
  width: 100%;
  max-width: 400px;
}
#search .search-input-with-mic {
  margin-right: 40px;
}
#search .search-input:focus,
#search .search-input-with-mic:focus {
  background-color: #fff;
}
#search .fa-microphone {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #ddd;
  color: #888;
  line-height: 50px;
  padding: 0 12px;
  margin-left: 10px;
  border-radius: 100px;
}
#search .fa-microphone:hover,
#search .fa-microphone:focus {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}
#search.recording .fa-microphone:hover,
#search.recording .fa-microphone:focus,
#search.recording .fa-microphone {
  background-color: red;
  color: #fff;
  cursor: none;
}
#search.recording .search-input-with-mic {
  opacity: 0.5;
}
.user { 
  text-align: right;
  margin-bottom: 10px;
}
.search {
  position: relative;
  padding-top: 10px;
  text-align: right;
}
@media (min-width: 660px) {
  .search {
    padding-top: 30px;
  }
  #search .fa-microphone {
    position: absolute;
    top: 25px;
  }
}
.question-sidebar {
  background-color: #e5e5e5;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.question-card {
  background: #fff;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.question-card h3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}
.question-card-image {
  background-color: #e5e5e5;
  height: 100px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .question-card-image {
    height: 200px;
  }
}
.question-image {
  background-color: #e5e5e5;
  height: 200px;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .question-image {
    height: 300px;
  }
}
